body,
html {
 
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  

  clear: both;
}

.h1 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 1.0);

}
 
 .btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  color: ;
 }

 .btn-xl {
  padding: 1rem 2rem;
  background-color: #F05F44;
  border-color: #F05F44;
 }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

hr {
  border-color: #F05F44;
  border-width: 3px;
  opacity: 100%;
  max-width: 65px;
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}
.btn-primary {  
    background-color: #F05F44;  
    border-color: #F05F44;  
    --bs-btn-hover-bg: #ee4b08; 
    --bs-btn-hover-border-color: #ee4b08;
}

.buffer {
  height: 8rem;
}